.muim{
    /* background-color: black; */
    background-color: #282c34;
    width: 100%;
    height: 370px;
    
}




.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.name{
    color: #61dafb;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.write{
    color: white;
    padding-top: 10px;
    font-size: 28px;
    font-style: italic; 
}


.fin{
    display: flex;
    padding-top: 25px;
}

.dik{
    margin-left: 20px;
}

.btn{
    background-color: #61dafb;
    padding: 10px 23px;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.tal{
    color: #61dafb;
    font-size: 18px;
    padding-top: 8px;
    font-family: sans-serif;
    cursor: pointer;
}

.tal::after{
    content: ">";
    margin-left: 10px;
    font-size: 17px;
}

.tal:hover{
    color: white;
}

.btn:hover{
    color: white;
}


.down{
    display: flex;
    max-width: 90%;
    margin: auto;
    padding-top: 40px;
}

.pix{
    padding: 2px 18px;
}

.tit{
    color: #6d6d6d;
    font-size: 24px;
}


.pix p{
    font-size: 19px;
    /* font-family: sans-serif; */
    font-style: italic;
    text-decoration: underline;
}

